body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

p {
  font-family: 'Pacifico', cursive;
}

#header {
  background-color: #353A40;
  border: 2px solid #353A50;
  box-shadow: 1px 1px #888888;
  position: fixed;
  top: 0;
  display: inline-block;
  min-width: 102%;
  margin-left: -1%;
}

nav li {
  display: inline-block;
  margin-left: 60px;
}

.primary-nav {
  float: left;
}

.social-icons {
  float: right;
  margin-right: 100px;
}

.primary-nav a {
  text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
      color: white;
}

a:hover {
    color: #666B71;
}

a:active {
    color: LightGray;
}

/* section1 */
section {
  margin-left: 50px;
  margin-right: 50px;
}

#title1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  /* font-family: 'Pacifico', cursive; */
  padding-top: 80px;
  padding-bottom: 40px;
}

#comuna {
  color: blue;
}

#comuna:hover {
  color: #1E90FF;
}

/* section2 */
.col-8 img {
height: 500px;
  width: 100%;
  padding-bottom: 20px;
}
.col-4 img {
  height: auto;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: auto 400px;
  grid-gap: 40px;
}

.col-4 p {
  text-align: justify;
}

#about {
  margin-top: 0px;
  padding-left: 0px;
}

/* section3-hobby */
h2 {
  padding-left: 20px;
}

ul {
 list-style-type: none;
 padding-left: 0px;
 line-height: 23px;
}

hr {
  width: 1100px;
}

.containerHobby {
  display: grid;
  grid-template-columns: auto 400px;
  grid-gap: 40px;
}

#colegi {
  background-color: #F0F8FF;
  margin-top: 30px;
  margin-bottom: 30px;
}

#colegi li {
  padding-left: 20px;
}

#colegi a {
  color: black;
  text-decoration: none;
}

#colegi a:hover {
  color: blue;
}

.hobby {
  background-image: url("Images/foto3.jpg");
  background-position: center;
  padding: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* section contact */

.coment {
padding-bottom: 20px;
}

.coment1 {
  padding-top: 15px;
  font-family: "Times New Roman", sans-serif;
}

#contact .fa-facebook-square {
  color: #3B5998;
}

#contact .fa-facebook-square:hover {
  color:  grey;
}

#contact .fa-linkedin {
  color: #0077B5
}

#contact .fa-linkedin:hover {
  color: grey;
}

#contact a {
  color: black;
}

#contact a:hover {
  color: grey;
}


/* footer */
footer {
  background-color: #353A40;
  border: 2px solid #353A50;
  box-shadow: 1px 1px #888888;
  padding: 0px;
  margin-left: -1%;
  margin-right: -1%;
}

footer p {
  color: white;
  text-align: center;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
